FLASK_ENV=production
DATABASE_URL=postgresql://assetflow_2h83_user:d7NAHwt9sdQlnTjAPka3NLYZyCZhdBND@dpg-d7ibhed7vvec73a9sbog-a/assetflow_2h83
JWT_SECRET_KEY=your_jwt_secret
SECRET_KEY=your_flask_secret
CORS_ORIGINS=https://assetflow-asset-inventory-management.onrender.com