# Core Flask (stable)
Flask==2.3.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.5.2
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1

# Database
psycopg2-binary==2.9.9
SQLAlchemy==2.0.48
SQLAlchemy-serializer==1.4.12
alembic==1.14.1

# Auth & Security
bcrypt==4.1.2
python-dotenv==1.0.0

# BARCODE SYSTEM 
# greenlet==3.0.3
python-barcode==0.15.1
qrcode==7.4.2
Pillow==10.4.0

# Production
gunicorn==23.0.0
Werkzeug==3.0.6

# Testing (optional)
pytest==8.3.5

# Utils
click==8.1.8